
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import './settings.scss';
@import '../componetns/Container/Container.scss';
@import '../componetns/Header/Header.scss';
@import '../componetns/ShoppingCard/ShoppingCard.scss';
@import '../componetns/Cart/Cart.scss';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Red Hat Text", sans-serif;
    background-color: $color-rose-100;
  }